{% extends 'base.html' %}

{% block title %} Admin Panel  {% endblock title %}

{% block content %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<a href="{{ url_for('show_user_data') }}"> Users</a> <br>

<a href="{{ url_for('subject_panel') }}"> Subject </a> <br>


<a href="{{ url_for('question_panel') }}"> Question </a>  <br>


<a href="{{ url_for('log_out') }}"> log Out </a>  <br>






{% endblock %}